@model List<AppUser>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-bordered table-striped"   >
    <tr>
        <th>UseName</th>
        <th>Email</th>
        <th></th>
    </tr>
    @if (Model.Any() == true)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
            </tr>

        }
    }
    else
    {
        <tr>
            <td colspan="2">Users Not Found!</td>
        </tr>
    }
</table>